
<div class="p-5 mb-4 rounded-xl bg-neutral-800 shadow-xl w-10/12 mt-10 md:w-6/12">
    <time class="text-lg font-semibold text-gray-900 dark:text-white">2025</time>
    <ol class="mt-3 divide-y divide-gray-200 dark:divide-gray-700">
        <li>
            <span class="items-center block p-3 cursor-default hover:scale-102 hover:bg-neutral-700 rounded-xl transition-all">
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March - June</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Landing Page for a Streetwear Brand</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Designed and built a responsive landing page to showcase clothing collections, promotions, and brand identity. Includes product highlights, newsletter integration, and scroll-based animations, additionally, it includes a dashboard for managing sales and promotions.
</p>
                <p class="font-semibold text-gray-300"> Stack: React, JavaScript, GSAP, Tailwind CSS, NodeJS, MySQL.</p>
            </span>
        </li>
                <li>
            <span class="items-center block p-3 cursor-default hover:scale-102 hover:bg-neutral-700 rounded-xl transition-all">
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">January - February</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Photographer Portfolio Website</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Developed a modern website for a professional photographer with gallery sections, contact form, and session booking requests. Includes responsive design, optimized image loading, and SEO-friendly structure.</p>
                <p class="font-semibold text-gray-300">Stack: React, TypeScript, Tailwind CSS, React Email.</p>
            </span>
        </li>
    </ol>
</div>
<div class="p-5 mb-4 rounded-xl bg-neutral-800 shadow-xl w-10/12 md:w-6/12">
    <time class="text-lg font-semibold text-gray-900 dark:text-white">2024</time>
    <ol class="mt-3 divide-y divide-gray-200 dark:divide-gray-700">
        <li>
            <span class="items-center block p-3 cursor-default hover:scale-102 hover:bg-neutral-700 rounded-xl transition-all">
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">June - July</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mobile App Mockups for Transport Management – Supra Sistemas</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Designed a complete set of high-fidelity mockups for a mobile application aimed at optimizing truck entry and logistics at the Port of Manzanillo. Focused on intuitive UX for drivers and real-time GPS coordination.</p>
                <p class="font-semibold text-gray-300">Tools: Figma, UX research, component-based UI design.</p>
            </span>
        </li>
    </ol>
</div>